name: CI

on:
  push:
    branches: [ main, stage, devel ]
    tags:
      - "v*.*.*"

jobs:
  release:
    if: github.event.head_commit.author.email == 'action@github.com'
    name: Github Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: ./CHANGELOG.md
