name: CI

on:
  push:
    branches: [ main, stage, devel ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

  printJob:
    name: Print event
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "$GITHUB_CONTEXT"

  slask:
    name: notify to slack for build result
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Check PR method
        uses: actions/github-script@v5.0.0
        if: always() && contains('refs/heads/main', github.ref) && github.event.commits[0].author.email != 'bot@renovateapp.com'
        id: check-merge-method
        with:
          result-encoding: string
          script: |
            const commitMessage = process.env.COMMIT_MESSAGE
            const regexToCheckIsMergedByCommit = /Merge pull request/
            const isMergedByCommit = !!commitMessage.match(regexToCheckIsMergedByCommit)

            return isMergedByCommit ? "commit" : "rebase"
        env:
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
      - name: Set alert message
        uses: actions/github-script@v5.0.0
        if: always() && contains('refs/heads/main', github.ref) && github.event.commits[0].author.email != 'bot@renovateapp.com'
        id: set-alert-message
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const prMethod = "${{ steps.check-merge-method.outputs.result }}"
            const commitMessage = process.env.COMMIT_MESSAGE

            if (prMethod === "commit") {
              const regexToParseNumber = /[0-9]+/
              const prNumber = Number(commitMessage.match(regexToParseNumber)[0])
              const pullRequest = await github.rest.pulls.get({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: prNumber,
              })

              return `Pull Request #${prNumber} [ ${pullRequest.data.title} ] is released...`
            } else {
              return `Last commit ${commitMessage} is released.`
            }
        env:
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
      - name: Release Slack Alert (Dev)
        uses: 8398a7/action-slack@v3
        if: always() && contains('refs/heads/main', github.ref) && github.event.commits[0].author.email != 'bot@renovateapp.com'
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,ref,workflow # selectable (default: repo,message)
          text: ${{ steps.set-alert-message.outputs.result }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_DEV }}

  parse-current-version:
    name: parse-current-version
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/devel' && github.event.commits[0].author.email != 'bot@renovateapp.com'
    outputs:
      version: ${{ fromJson(steps.parse-current-version.outputs.content).version }}
    steps:
      - uses: actions/checkout@v2
      - name: Parse current Version
        id: parse-current-version
        uses: juliangruber/read-file-action@v1
        with:
          path: ./package.json

  parse-ticket-numbers:
    name: parse-ticket-numbers
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains('refs/heads/stage refs/heads/devel', github.ref)
    steps:
      - name: Parse Ticket numbers
        uses: actions/github-script@v5.0.0
        id: parse-ticket-numbers
        with:
          script: |
            const regexToParseTicketNumber = /(HC2-[0-9]*)/;
            const commitMessage = process.env.COMMIT_MESSAGE;
            const regexToParseNumber = /[0-9]+/;
            const prNumber = Number(commitMessage.match(regexToParseNumber)[0]);
            let tickets = [];
            const response = [];

            let page = 1;
            while(true) {
              const { data } = await github.rest.pulls.listCommits({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: prNumber,
                  per_page: 1,
                  page: page,
              });

              if (!!data.length) {
                response.push(...data);
                page++;
              } else {
                break;
              }
            }

            response.forEach((elem) => {
              const ticket = elem.commit.message.match(regexToParseTicketNumber)
              if (ticket) {
                tickets.push(ticket[0]);
              }
            });

            tickets = [...new Set(tickets)];

            console.log('before join: ', tickets)

            tickets = tickets.join(',')

            console.log('after join: ', tickets)

            return tickets
        env:
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}

  jira:
    name: Trigger Jira Webhook
    needs: [parse-current-version, parse-ticket-numbers, slask]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: npm install axios
      - name: Trigger Jira Webhook (devel)
        if: github.event_name == 'push' && github.ref == 'refs/heads/devel' && github.event.commits[0].author.email != 'bot@renovateapp.com'
        uses: actions/github-script@v5.0.0
        id: parse-deployed-tickets
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const test = process.env.TEST
            console.log('type: ', typeof process.env.TEST)
            console.log('imported: ', test)
            console.log('array from', Array.from(process.env.TEST))

            const axios = require('axios');
            const regexToParseTicketNumber = /(HC2-[0-9]*)/;
            const commitMessage = process.env.COMMIT_MESSAGE;
            const regexToParseNumber = /[0-9]+/;
            const prNumber = Number(commitMessage.match(regexToParseNumber)[0]);
            let tickets = [];
            const response = [];

            let page = 1;
            while(true) {
              const { data } = await github.rest.pulls.listCommits({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: prNumber,
                  per_page: 1,
                  page: page,
              });

              if (!!data.length) {
                response.push(...data);
                page++;
              } else {
                break;
              }
            }

            response.forEach((elem) => {
              const ticket = elem.commit.message.match(regexToParseTicketNumber)
              if (ticket) {
                tickets.push(ticket[0]);
              }
            });

            tickets = [...new Set(tickets)];

            console.log(tickets)

            if (!!tickets.length) {
              axios({
                url: process.env.JIRA_WEBHOOK_URL,
                method: 'post',
                headers: {'Content-type': 'application/json'},
                data: {
                  issues: tickets,
                  data: {
                    releaseVersion: process.env.RELEASE_VERSION
                  }
                }
              });
            }

            return response;
        env:
          JIRA_WEBHOOK_URL: ${{ secrets.JIRA_WEBHOOK_URL }}
          RELEASE_VERSION: ${{ needs.parse-current-version.outputs.version }}
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
          TEST: ${{ needs.parse-ticket-numbers.outputs.result }}
